<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0">
                <h1>Resilient Professional</h1>
                <h2>I'm Everton Alves, a passionate Full Stack Developer.</h2>
                <div>
                    <a href="#about" class="button blink_button">Learn More About Me</a>
                </div>
            </div>
            <div class="col-lg-6 hero-img">
                <img src="/img/everton.jpg" class="img-fluid" alt="Your Name">
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About Me</h2>
                <p class="lead">Hello! I'm Everton Alves, a passionate Full Stack Developer dedicated to building and optimizing interactive, user-centric websites and applications. With a experiences at building systems using PHP, I've honed my skills in both front-end and back-end technologies to craft seamless digital experiences.</p>
                <p>Driven by the challenge of solving complex problems, I've contributed to projects that range from small business websites to scalable enterprise applications. My toolbox includes:</p>
                <ul class="skills-list">
                    <li>Front-end technologies: HTML, CSS, JavaScript, React.js</li>
                    <li>Back-end technologies: PHP, Node.js, Express, MongoDB, SQL, FireBase, Firebird</li>
                    <li>Tools & methodologies: Laravel, Codeigniter, Ajax, jQuery, Git, Docker, Agile, TDD</li>
                </ul>
                <p>Beyond coding, I value continuous learning, collaboration, and a deep commitment to quality. I'm always exploring new technologies and strategies to enhance project outcomes and team dynamics.</p>
                <a href="#contact-me" class="btn-about-contact button blink_button">Let's Connect</a>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="projects-section">
    <div class="container">
        <h2>My Projects</h2>
        <div id="projectsGrid" class="row">
        </div>
    </div>
</section>
