#hero {
    width: 100%;
    height: 100vh;
    background: url('/img/backImage.jpeg') top center;
    background-size: cover;
    position: relative;
}

.hero-img img {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    border: 2px solid #fff;
    transition: all 0.4s;
    display: inline-block;
    background: transparent;
}

.button:hover {
    background: #fff;
    color: #000;
}

.about-section {
    padding: 60px 0;
    background-color: var(--neon-accent);
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--neon-light);
}

.about-section p.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}

.skills-list li:before {
    content: "•";
    padding-right: 8px;
    color: var(--primary-color);
}

.btn-about-contact {
    display: block;
    width: max-content;
    margin: 20px auto 0;
    padding: 10px 25px;
    color: var(--neon-light);
    border-radius: 25px;
    border: 4px solid;
    transition: background-color 0.3s ease;
}

.btn-about-contact:hover {
    color: #fff;
}

.projects-section {
    padding: 60px 0;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.project-card {
    margin-bottom: 30px;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-content {
    margin-top: 15px;
    text-align: center;
}

.project-name {
    font-size: 1.25rem;
}

.project-detail {
    font-size: 1rem;
    text-align: justify;
    color: var(--neon-light);
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    border: 4px solid;
    border-radius: 25px;
    width: max-content;
    margin: 0 auto;
    padding: 10px 25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        color: var(--neon-blink-primary); 
    }
    50% {
        color: var(--neon-blink-secondary); 
    }
    100% {
        transform: rotate(360deg);
        color: var(--neon-blink-primary); 
    }
}
  
.icon-spinner {
    display: inline-block;
    text-align: center;
}

.icon-spinner i {
    font-size: 8rem;
    animation: spin 2s linear infinite;
}

@media (max-width: 768px) {
    .about-section h2 {
        font-size: 2rem;
    }
}


@media (max-width: 992px) {
    .hero-img {
        text-align: center;
        margin: 0 auto;
        width: 250px;
    }

    .hero-img img {
        margin-top: 20px;
    }
}